/* Regole Generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica,sans-serif;
}




header{
    background-color: #ff6900;
     height: 60px;
    padding: 15px 0;
    color: white;
}

#barra{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#barra .menu{
    list-style: none;
}

.item {
    
    margin: 0px 5px;
    font-size: 15px;
    font-weight: bold;
}
.icon , .item{
    color: white;
    text-decoration: none;
    
}

#logo{
    width: 12%;
    position: fixed;
    left: 41%;


}

.icon-2{
    position: fixed;
    right: 17%;
}

.menu{
    display: flex;
}
.row {
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-left: 5px;
}
.model{
    width: 95%;

}
.model-2{
    width: 77%;
    
}
.img{
    position: relative;
}
.heart {
        
        background-color: white;
        position: absolute;
        font-size: 25px;
        right: 5%;
        top: 4%;
        padding: 0 3%;
    }
    
    
.b{
    position: absolute;
    right: 5%;
    display: none;

}
.b-2{
    position: absolute;
    right: 23%;
    display: none;


}
.model-3{
    width: 77%;
}
.b-3{
    position: absolute;
    right: 23%;
    display: none;

}


.label {
    position: absolute;
    color: white;
    font-size: 12px;
    padding: 4px 5px;
}
.price{
    background-color: lime;
    bottom:7%;
    
}
.sostenibilità {
    background-color: green;
    
    bottom: 7%;
    left: 14%;
}

.heart-2 {
    
    background-color: white;
    position: absolute;
    font-size: 25px;
    right: 23%;
    top: 4%;
    padding: 0 3%;